<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guiren_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>guiren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{81,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,120}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guiren.png</string>
            <key>size</key>
            <string>{177,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aa6f8d52c6cf1c3c25a6c5b2b7c70a9:f897494f150818f8d0150bbc2b535840:53613ce7f7e72d761513e4bd0c266446$</string>
            <key>textureFileName</key>
            <string>guiren.png</string>
        </dict>
    </dict>
</plist>
