<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kulou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,125}}</string>
                <key>sourceSize</key>
                <string>{71,125}</string>
            </dict>
            <key>kulou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{71,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,125}}</string>
                <key>sourceSize</key>
                <string>{71,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kulou.png</string>
            <key>size</key>
            <string>{75,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:264fc276ea9b1ca9e2d7f48812462c15:1cf3cf5bbdf06000082d1435b06124d7:096b1a460744590f9fb48ea0b61516d6$</string>
            <key>textureFileName</key>
            <string>kulou.png</string>
        </dict>
    </dict>
</plist>
