<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guiren_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,356},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>guiren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{73,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,108}}</string>
                <key>sourceSize</key>
                <string>{73,108}</string>
            </dict>
            <key>jiaxuegu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,143},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>jiaxuegu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,256},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>kulou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{71,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,125}}</string>
                <key>sourceSize</key>
                <string>{71,125}</string>
            </dict>
            <key>kulou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,129},{71,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,125}}</string>
                <key>sourceSize</key>
                <string>{71,125}</string>
            </dict>
            <key>langren_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,255},{108,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,152}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>langren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>nijiangguai_0.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{116,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,146}}</string>
                <key>sourceSize</key>
                <string>{116,146}</string>
            </dict>
            <key>nijiangguai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,365},{110,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,148}}</string>
                <key>sourceSize</key>
                <string>{110,148}</string>
            </dict>
            <key>shitou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{141,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,139}}</string>
                <key>sourceSize</key>
                <string>{141,139}</string>
            </dict>
            <key>shitou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,139}}</string>
                <key>sourceSize</key>
                <string>{148,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster.png</string>
            <key>size</key>
            <string>{368,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b593f545e5c31c0d915745b8abde992b:9d9443ff6ae6377beb5b09c964419dca:98f2afd2d677f0efd46026afa9a716bc$</string>
            <key>textureFileName</key>
            <string>Monster.png</string>
        </dict>
    </dict>
</plist>
