<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nijiangguai_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{154,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,194}}</string>
                <key>sourceSize</key>
                <string>{154,194}</string>
            </dict>
            <key>nijiangguai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,197}}</string>
                <key>sourceSize</key>
                <string>{147,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nijiangguai.png</string>
            <key>size</key>
            <string>{307,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f52fd1c4ac2f9aee594b7964e1f02e3:7e69a96eaf59c5a237dcc3e60511315e:01cc50dec21903bf638da46eb0af9aa8$</string>
            <key>textureFileName</key>
            <string>nijiangguai.png</string>
        </dict>
    </dict>
</plist>
