<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>siwang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,152},{140,178}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,47},{140,178}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>siwang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{160,148}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{160,148}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>siwang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,216},{172,198}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{172,198}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>siwang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{172,208}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{172,208}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>siwang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,212}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{186,212}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>siwang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{158,198}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{158,198}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>siwang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,332},{130,168}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{130,168}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>siwang.png</string>
            <key>size</key>
            <string>{512,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:632a707676f70a834ce6c9b652b78bee:f3be4977c33b2d939a502445b798643c:6efdda669718b43ecbb57df82bd99bf5$</string>
            <key>textureFileName</key>
            <string>siwang.png</string>
        </dict>
    </dict>
</plist>
