<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actor_cannon_barrel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,177}}</string>
                <key>sourceSize</key>
                <string>{134,177}</string>
            </dict>
            <key>actor_cannon_pedestal.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{91,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,161}}</string>
                <key>sourceSize</key>
                <string>{91,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{231,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fb9c153039b51990a664ea3c65faf6b$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
