<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zibao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,624},{262,290}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,69},{262,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>zibao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,330},{252,292}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,70},{252,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>zibao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{238,298}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,67},{238,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>zibao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{258,298}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,67},{258,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>zibao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{278,292}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,75},{278,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>zibao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,326}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,44},{298,326}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dazhao1.png</string>
            <key>size</key>
            <string>{542,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47bce14806d56c1d8accb2be2dd62586:5bf8beb92fb8a716eade2ef31a1836e5:01f37eb11705a40017a0f9fda05e9e8c$</string>
            <key>textureFileName</key>
            <string>dazhao1.png</string>
        </dict>
    </dict>
</plist>
