<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guiren_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>guiren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{73,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,108}}</string>
                <key>sourceSize</key>
                <string>{73,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guiren.png</string>
            <key>size</key>
            <string>{112,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22358b88f603042ebc514c249dd6b51b:a7ea391f76f8412e6a0eab8d59df8c39:53613ce7f7e72d761513e4bd0c266446$</string>
            <key>textureFileName</key>
            <string>guiren.png</string>
        </dict>
    </dict>
</plist>
