<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiaxuegu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>jiaxuegu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiaxuegu.png</string>
            <key>size</key>
            <string>{102,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:224d2c59eb2829c450f9e06c13f1c125:4c42acf5d073975d663df7836be01b1b:b3b824a4ff236e63cc0d7e061c3f540d$</string>
            <key>textureFileName</key>
            <string>jiaxuegu.png</string>
        </dict>
    </dict>
</plist>
