<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nijiangguai_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{116,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,146}}</string>
                <key>sourceSize</key>
                <string>{116,146}</string>
            </dict>
            <key>nijiangguai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,148}}</string>
                <key>sourceSize</key>
                <string>{110,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nijiangguai.png</string>
            <key>size</key>
            <string>{232,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:976bde4c2ca0befcce3e12e3a53163f4:91db3d0928da5fe7b3ff00828594cec4:01cc50dec21903bf638da46eb0af9aa8$</string>
            <key>textureFileName</key>
            <string>nijiangguai.png</string>
        </dict>
    </dict>
</plist>
