<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shitou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{141,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,139}}</string>
                <key>sourceSize</key>
                <string>{141,139}</string>
            </dict>
            <key>shitou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,139}}</string>
                <key>sourceSize</key>
                <string>{148,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shitou.png</string>
            <key>size</key>
            <string>{297,143}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb23af5d80c4b332a7a2f88110a6e8fe:b5231877466ee8caffeda7ef26373b91:076edd5c525e60783e4767a1b9e25e9f$</string>
            <key>textureFileName</key>
            <string>shitou.png</string>
        </dict>
    </dict>
</plist>
