<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shouji_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{76,58}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,109},{76,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shouji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{156,124}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,74},{156,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shouji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,142}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,60},{174,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shouji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,160},{92,92}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,92},{92,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shouji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shouji.png</string>
            <key>size</key>
            <string>{272,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3549770945e45cd539cb2ee436d8938d:e01f516a70e344260d1e335d3026ab43:959a3a127ad954d5a290a27b59f8c83f$</string>
            <key>textureFileName</key>
            <string>shouji.png</string>
        </dict>
    </dict>
</plist>
